.contenedordos {
  padding-bottom: 50px;
}
.home {
  display: flex;
}
.contenedor {
  padding-right: 30px;
  padding-top: 25px;
}
.texto {
  font-size: 40px;
  color: #fc6887;
  padding-left: 70px;
}
.parrafo {
  font-size: 20px;
  padding-left: 30px;
  padding-bottom: 10px;
}
.image {
  padding-left: 20px;
  padding-top: 100px;
  width: 50%;
}

.airepuro {
  font-size: 40px;
  color: #fc6887;
  padding-left: 70px;
}
.parrafoaire {
  font-size: 20px;
  padding-left: 30px;
  padding-bottom: 10px;
}
