.titulo-PX {

    color: white ;
    font-size: 5em;
    line-height: 1.9 ;
    font-stretch: narrower;
    font-variant: small-caps;
    background-color: pink;
    border-radius: 1%;
}

.image {
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px ;
    margin-bottom: 50px;
}



    


