.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F1F1FA;
}

